<%= simple_form_for [@project, @time_extension] do |f| %>
  <%= f.error_notification %>
<div class="box box-primary">
  <div class="box-header">
    <div class="box-title">
      Time Extension
    </div>
  </div>
  <div class="box-body">
    <div class="col-md-12">
      <div class="row">
        <label>Inclusive Dates</label>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-5">
            <%= f.input :date_from, label: false, placeholder: "From", input_html: {id: 'start', class: 'datepicker'} %>
          </div>
          <div class="col-md-2">
            <span> - </span>
          </div>
          <div class="col-md-5">
            <%= f.input :date_to, label: false, placeholder: "To", input_html: {id: 'end', class: 'datepicker', onchange:'diffDays()'} %>
          </div>
        </div>
        <div class="col-md-6">
          <label>Time Extension:&nbsp</label><span id="days"></span>
          <%= f.input :number_of_days, label: false, input_html: {id:'duration', type: 'hidden'} %>
        </div>
      </div>
    </div>
  </div>
  <div class="box-footer">
    <div class="pull-left">
      <%= link_to :back, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-chevron-left"></span>
        Back
      <% end %>
    </div>
    <div class="pull-right">
      <% if @time_extension.new_record? %>
        <%= f.button :button, class: 'btn btn-success btn-sm' do %>
          <i class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></i><span> Save</span>
        <% end %>
      <% else %>
        <%= f.button :button, class: 'btn btn-primary btn-sm' do %>
          <i class="glyphicon glyphicon-edit" aria-hidden="true"></i><span> Update</span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
