<%= simple_form_for [@project, @revised_contract_amount] do |f| %>
  <%= f.error_notification %>
<div class="box box-primary">
  <div class="box-header">
    <div class="box-title">
      <% if @revised_contract_amount.new_record? %>
        New Revised Contract Amount
      <% else %>
        Update Revised Contract Amount
      <% end %>
    </div>
  </div>
  <div class="box-body">
    <div class="form-inputs">
      <%= f.input :amount %>
    </div>
  </div>
  <div class="box-footer">
    <div class="pull-left">
      <%= link_to :back, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-chevron-left"></span>
        Back
      <% end %>
    </div>
    <div class="pull-right">
      <% if @revised_contract_amount.new_record? %>
        <%= f.button :button, class: 'btn btn-success btn-sm' do %>
          <i class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></i><span> Save</span>
        <% end %>
      <% else %>
        <%= f.button :button, class: 'btn btn-primary btn-sm' do %>
          <i class="glyphicon glyphicon-edit" aria-hidden="true"></i><span> Update</span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
